@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: antiquewhite;
   
}
.prompt{
    width: 700px;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   position:fixed;
   bottom: 30px;
   left:450px;
    
}


.prompt textarea{
    width:90%;
    height:90%;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 6px 6px #888888;
    padding-left: 10px;
    font-size: 1rem;
  
    padding-top: 10px;
}

.send-icon{
    width:10%;
    height:90%;
    /* border: 2px solid black; */
    position: absolute;
    right:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(71, 70, 69);
}


.output{
    width:95%;
    height:500px;
    margin: auto;
    margin-top: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.output textarea{
    width:100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    background-color: antiquewhite;
   
}


.output textarea::-webkit-scrollbar{
    display: none;
  }


  .prompt textarea::-webkit-scrollbar{
    display: none;
  }
  

textarea{ 
    
    resize: none;
    border: none;

}


h1{
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea:focus {
    outline: none;
    border: none;
  }
  

  


  .container{
    width:100px;
    height:50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top:500px;
    left:730px;
}


span{
    width:20px;
    height:20px;
    background-color:black;
    border-radius: 20px;
}



